<div>
    <h2 id="page-heading">
        <span jhiTranslate="eschoolApp.jobHistory.home.title">Job Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-history" [routerLink]="['/job-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eschoolApp.jobHistory.home.createLabel">
            Create new Job History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="jobHistories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eschoolApp.jobHistory.monthlySalary">Monthly Salary</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobHistory of jobHistories ;trackBy: trackId">
                <td><a [routerLink]="['/job-history', jobHistory.id, 'view' ]">{{jobHistory.id}}</a></td>
                <td>{{jobHistory.monthlySalary}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/job-history', jobHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-history', jobHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'job-history', { outlets: { popup: jobHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
