<div class="container">

  <div class="row"  style="margin-bottom: 20px">
    <div (click)="goPrevious()" class="col-sm-10"><i class="fa fa-arrow-circle-o-left fa-lg mt-4" style="float: left; font-size: 4em;cursor: pointer;" data-toggle="tooltip" title="Return to Dashboard"></i></div>
    <div class="col-sm-1"></div>
    <div (click)="newAbsence()" class="col-sm-1"><i class="fa fa-plus-circle fa-lg mt-4" style="float: right; font-size: 3em;cursor: pointer;"  data-toggle="tooltip" title="New"></i></div>
  </div>

  <div class="card">
    <div class="card-header text-center" style="background-color:#63c2de;"><h3>{{'ABSENCES.TITLE'| translate}}</h3></div>
    <div class="card-body">
      <div class="row" *ngFor="let classroom of classrooms | paginate: { itemsPerPage: itemsPage, currentPage: page,
                                                    totalItems: total }; let idx=index">
        <table class="table">
          <thead>
          <tr (click)="openClassList(classroom)" style="cursor:pointer;" bgcolor="#B1D9E7">
            <th class="col-sm-5">{{classroom.classroomName}}</th>
            <th class="col-sm-4" [translate]="'ABSENCES.NUM_STUDENTS'" [translateParams]="{value: classroom.studentNum}"></th>
            <th class="col-sm-2">{{classroom.fees | number : '3.0'}}</th>
            <th class="col-sm-1">
              <img src="../../../../assets/images/26-dropdown-arrow.svg"  class="right" width="20" height="20">
            </th>
          </tr>
          </thead>
        </table>
        <div *ngIf="classroom.activate" style="width: 100%;">
          <div (click)="openStudentList(student)" *ngFor="let student of students">
            <table class="table" style="border-collapse:separate; border-spacing:0px 3px;">
              <tbody>
              <tr style="cursor:pointer;" bgcolor="#D3F0D2">
                <td *ngIf="student.firstName || student.lastName" class="col-sm-5">{{student.firstName}} {{student.lastName}}</td>
                <td *ngIf="!student.firstName && !student.lastName" class="col-sm-5">{{student.login}}</td>
                <td class="col-sm-4"></td>
                <td class="col-sm-2">{{student.cniNumber | number : '3.0'}}</td>
                <td class="col-sm-1">
                  <img src="../../../../assets/images/26-dropdown-arrow.svg"  class="right" width="20" height="20">
                </td>
              </tr>
              </tbody>
            </table>

            <div *ngIf="student.activated">
              <table class="table" style="border-collapse:separate; border-spacing:0px 3px;">
                <tbody>
                <tr *ngFor="let absence of absences" (click)="openAbsence(absence.id)" bgcolor="#FCE9D4">
                  <td>{{absence.date | date : 'dd-MM-yyyy'}}</td>
                  <td>{{absence.unityName}}</td>
                  <td *ngIf="absence.absence">{{'ABSENCES.ABSENCE'| translate}}</td>
                  <td *ngIf="!absence.absence">{{'ABSENCES.DELAY'| translate}}</td>
                  <td *ngIf="absence.justify">{{'ABSENCES.JUSTIFIED'| translate}}</td>
                  <td *ngIf="!absence.justify">{{'ABSENCES.NOT_JUSTIFIED'| translate}}</td>
                  <td>{{absence.commentaire}}</td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls style="text-align:center; vertical-align:middle;" (pageChange)="setPageChanged($event);"></pagination-controls>

</div>
