<div>
    <h2 id="page-heading">
        <span jhiTranslate="eschoolApp.classroom.home.title">Classrooms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-classroom" [routerLink]="['/classroom/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eschoolApp.classroom.home.createLabel">
            Create new Classroom
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="classrooms">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eschoolApp.classroom.classroomName">Classroom Name</span></th>
            <th><span jhiTranslate="eschoolApp.classroom.year">Year</span></th>
            <th><span jhiTranslate="eschoolApp.classroom.tutionFees">Tution Fees</span></th>
            <th><span jhiTranslate="eschoolApp.classroom.ccCoef">Cc Coef</span></th>
            <th><span jhiTranslate="eschoolApp.classroom.cCoef">C Coef</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let classroom of classrooms ;trackBy: trackId">
                <td><a [routerLink]="['/classroom', classroom.id, 'view' ]">{{classroom.id}}</a></td>
                <td>{{classroom.classroomName}}</td>
                <td>{{classroom.year}}</td>
                <td>{{classroom.tutionFees}}</td>
                <td>{{classroom.ccCoef}}</td>
                <td>{{classroom.cCoef}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/classroom', classroom.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/classroom', classroom.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'classroom', { outlets: { popup: classroom.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
