<div>
    <h2 id="page-heading">
        <span jhiTranslate="eschoolApp.studentHomework.home.title">Student Homeworks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student-homework" [routerLink]="['/student-homework/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eschoolApp.studentHomework.home.createLabel">
            Create new Student Homework
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="studentHomeworks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eschoolApp.studentHomework.done">Done</span></th>
            <th><span jhiTranslate="eschoolApp.studentHomework.student">Student</span></th>
            <th><span jhiTranslate="eschoolApp.studentHomework.homework">Homework</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studentHomework of studentHomeworks ;trackBy: trackId">
                <td><a [routerLink]="['/student-homework', studentHomework.id, 'view' ]">{{studentHomework.id}}</a></td>
                <td>{{studentHomework.done}}</td>
                <td>
                    {{studentHomework.student?.login}}
                </td>
                <td>
                    <div *ngIf="studentHomework.homework">
                        <a [routerLink]="['../homework', studentHomework.homework?.id, 'view' ]" >{{studentHomework.homework?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/student-homework', studentHomework.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student-homework', studentHomework.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'student-homework', { outlets: { popup: studentHomework.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
