<div>
    <h2 id="page-heading">
        <span jhiTranslate="eschoolApp.school.home.title">Schools</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-school" [routerLink]="['/school/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="eschoolApp.school.home.createLabel">
            Create new School
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="schools">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eschoolApp.school.schoolName">School Name</span></th>
            <th><span jhiTranslate="eschoolApp.school.streetAddress">Street Address</span></th>
            <th><span jhiTranslate="eschoolApp.school.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="eschoolApp.school.city">City</span></th>
            <th><span jhiTranslate="eschoolApp.school.stateProvince">State Province</span></th>
            <th><span jhiTranslate="eschoolApp.school.telephone">Telephone</span></th>
            <th><span jhiTranslate="eschoolApp.school.devise">Devise</span></th>
            <th><span jhiTranslate="eschoolApp.school.description">Description</span></th>
            <th><span jhiTranslate="eschoolApp.school.ccCoef">Cc Coef</span></th>
            <th><span jhiTranslate="eschoolApp.school.cCoef">C Coef</span></th>
            <th><span jhiTranslate="eschoolApp.school.logoLink">Logo Link</span></th>
            <th><span jhiTranslate="eschoolApp.school.countryname">Countryname</span></th>
            <th><span jhiTranslate="eschoolApp.school.countryMotto">Country Motto</span></th>
            <th><span jhiTranslate="eschoolApp.school.countrySecretary">Country Secretary</span></th>
            <th><span jhiTranslate="eschoolApp.school.countrySubSecretary">Country Sub Secretary</span></th>
            <th><span jhiTranslate="eschoolApp.school.schoolMotto">School Motto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let school of schools ;trackBy: trackId">
                <td><a [routerLink]="['/school', school.id, 'view' ]">{{school.id}}</a></td>
                <td>{{school.schoolName}}</td>
                <td>{{school.streetAddress}}</td>
                <td>{{school.postalCode}}</td>
                <td>{{school.city}}</td>
                <td>{{school.stateProvince}}</td>
                <td>{{school.telephone}}</td>
                <td>{{school.devise}}</td>
                <td>{{school.description}}</td>
                <td>{{school.ccCoef}}</td>
                <td>{{school.cCoef}}</td>
                <td>{{school.logoLink}}</td>
                <td>{{school.countryname}}</td>
                <td>{{school.countryMotto}}</td>
                <td>{{school.countrySecretary}}</td>
                <td>{{school.countrySubSecretary}}</td>
                <td>{{school.schoolMotto}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/school', school.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/school', school.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'school', { outlets: { popup: school.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
