<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="timeSlotHistory">
            <h2><span jhiTranslate="eschoolApp.timeSlotHistory.detail.title">Time Slot History</span> {{timeSlotHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eschoolApp.timeSlotHistory.timesheet">Timesheet</span></dt>
                <dd>
                    <div *ngIf="timeSlotHistory.timesheet">
                        <a [routerLink]="['/timesheet', timeSlotHistory.timesheet?.id, 'view']">{{timeSlotHistory.timesheet?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time-slot-history', timeSlotHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
