<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="abscence">
            <h2><span jhiTranslate="eschoolApp.abscence.detail.title">Abscence</span> {{abscence.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eschoolApp.abscence.date">Date</span></dt>
                <dd>
                    <span>{{abscence.date}}</span>
                </dd>
                <dt><span jhiTranslate="eschoolApp.abscence.commentaire">Commentaire</span></dt>
                <dd>
                    <span>{{abscence.commentaire}}</span>
                </dd>
                <dt><span jhiTranslate="eschoolApp.abscence.abscence">Abscence</span></dt>
                <dd>
                    <span>{{abscence.abscence}}</span>
                </dd>
                <dt><span jhiTranslate="eschoolApp.abscence.justify">Justify</span></dt>
                <dd>
                    <span>{{abscence.justify}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/abscence', abscence.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
