<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-payment-heading" jhiTranslate="eschoolApp.payment.home.createOrEditLabel">Create or edit a Payment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!payment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="payment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eschoolApp.payment.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="payment.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eschoolApp.payment.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="payment.type" id="field_type" >
                        <option value="COMMA">{{'eschoolApp.PaymentType.COMMA' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eschoolApp.payment.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="payment.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === payment.user?.id ? payment.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eschoolApp.payment.classroom" for="field_classroom">Classroom</label>
                    <select class="form-control" id="field_classroom" name="classroom" [(ngModel)]="payment.classroom" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="classroomOption.id === payment.classroom?.id ? payment.classroom : classroomOption" *ngFor="let classroomOption of classrooms; trackBy: trackClassroomById">{{classroomOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eschoolApp.payment.school" for="field_school">School</label>
                    <select class="form-control" id="field_school" name="school" [(ngModel)]="payment.school" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolOption.id === payment.school?.id ? payment.school : schoolOption" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
